body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/* ejemplo de transiciones */
.item {
    background-color: tomato;
    width: 200px;
    height: 200px;
      /* transition: 500ms; */
    /* transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-delay: 1s; */
    transition: background-color 500ms ease-out 1s;
  }
  
  .item:hover {
    background: slateblue;
  }